{% if is_user_authenticated == False %}
	<h1>Something Went Wrong</h1>
	<p>Please contact your administrator or reset your password.</p>
	<p>Kindly login <a href="login">here</a> </p>

{% else %}
	<h1>Welcome {{ first_name }} {{ last_name }}!</h1>
	<p>you are successfully logged in</p>
	<p>index page</p>
{% endif %}